xsd/NO_EDUPR_1_083_00_04_02_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Единая (упрощенная) налоговая декларация</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИдОтпр" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения об отправителе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИООтв" type="ФИОТип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество ответственного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ДолжОтв" use="optional">
							<xs:annotation>
								<xs:documentation>Должность ответственного лица</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Тлф" use="optional">
							<xs:annotation>
								<xs:documentation>Номер контактного телефона</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="E-mail" use="optional">
							<xs:annotation>
								<xs:documentation>E-mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Декларация</xs:documentation>
						<xs:documentation>Состав и структура документа</xs:documentation>
						<xs:documentation>part</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation/>
									<xs:documentation>Сведения о налогоплательщике</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation/>
												<xs:documentation>Налогоплательщик - юридическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="СведРукОрг" type="ФИОТип">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о руководителе организации</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвПред" type="СвПред">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о представителе </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Полное наименование организации </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="required">
													<xs:annotation>
														<xs:documentation>КПП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОКАТО" use="required">
													<xs:annotation>
														<xs:documentation>Код по ОКАТО</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="8"/>
															<xs:maxLength value="11"/>
															<xs:pattern value="[0-9]{8}"/>
															<xs:pattern value="[0-9]{11}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКВЭД" type="ОКВЭДТип" use="required">
													<xs:annotation>
														<xs:documentation>Код вида экономической деятельности (ОКВЭД)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Тлф" use="optional">
													<xs:annotation>
														<xs:documentation>Номер контактного телефона налогоплательщика</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПФЛ">
											<xs:annotation>
												<xs:documentation/>
												<xs:documentation>Налогоплательщик - физическое лицо</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИОФЛ" type="ФИОТип">
														<xs:annotation>
															<xs:documentation>ФИО физичекого лица</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ИННФЛ" type="ИННФЛТип">
															<xs:annotation>
																<xs:documentation>ИНН физического лица</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="СведФЛ">
															<xs:annotation>
																<xs:documentation/>
																<xs:documentation>Сведения о налогоплательщике - физическом лице, не являющимся индивидуальным предпринимателем</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="УдЛичнФЛ" type="УдЛичнФЛТип"/>
																	<xs:element name="АдрМЖРФ" type="АдрРФТип">
																		<xs:annotation>
																			<xs:documentation/>
																			<xs:documentation>Место жительства в Российской Федерации (место пребывания физического лица)</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
																<xs:attribute name="ДатРожд" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата рождения</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="МестоРожд" use="required">
																	<xs:annotation>
																		<xs:documentation>Место рождения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="128"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="Гражданство" type="ОКСМТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Гражданство</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:choice>
													<xs:element name="СвПред" type="СвПред" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о представителе </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ОКАТО" use="required">
													<xs:annotation>
														<xs:documentation>Код по ОКАТО</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="8"/>
															<xs:maxLength value="11"/>
															<xs:pattern value="[0-9]{8}"/>
															<xs:pattern value="[0-9]{11}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКВЭД" type="ОКВЭДТип" use="required">
													<xs:annotation>
														<xs:documentation>Код вида экономической деятельности (ОКВЭД)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Тлф" use="optional">
													<xs:annotation>
														<xs:documentation>Номер контактного телефона налогоплательщика</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ОписПерСвед">
								<xs:annotation>
									<xs:documentation/>
									<xs:documentation>Описание передаваемых сведений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="КНД" use="required">
										<xs:annotation>
											<xs:documentation>Код формы отчетности по КНД</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="КНДТип">
												<xs:enumeration value="1151085"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ВидДок" use="required">
										<xs:annotation>
											<xs:documentation>Вид документа (0 - первичный, 1-999 - корректирующий)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ГодПериодОтч" type="xs:gYear" use="required">
										<xs:annotation>
											<xs:documentation>Отчетный год</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата формирования документа</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СодПерСвед">
								<xs:annotation>
									<xs:documentation>строка 010</xs:documentation>
									<xs:documentation>Содержание передаваемых сведений</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Налог" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>строка №</xs:documentation>
												<xs:documentation>Сведения по налогам</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НалПредДекНП" use="required">
													<xs:annotation>
														<xs:documentation>столбец 1</xs:documentation>
														<xs:documentation>Налог, по которому представляется декларация налогоплательщиком, не осуществляющим операции, в результате которых происходит движение денежных средств на его счетах в банках (в кассе организации), и не имеющим по этому налогу объектов налогообложения</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомерГлНК" use="required">
													<xs:annotation>
														<xs:documentation>столбец 2</xs:documentation>
														<xs:documentation>Номер главы второй части Налогового кодекса Российской Федерации</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="4"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПериодОтч" use="required">
													<xs:annotation>
														<xs:documentation>столбец 3</xs:documentation>
														<xs:documentation>Налоговый (отчетный) период</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="2"/>
															<xs:enumeration value="21"/>
															<xs:enumeration value="22"/>
															<xs:enumeration value="23"/>
															<xs:enumeration value="24"/>
															<xs:enumeration value="20"/>
															<xs:enumeration value="31"/>
															<xs:enumeration value="33"/>
															<xs:enumeration value="34"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ЕДУПР"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="optional">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="УдЛичнФЛТип">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодВидДок" type="СПДУЛТип" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="СерНомДок" type="СПДУЛШТип" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ВыдДок" use="required">
			<xs:annotation>
				<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодВыдДок" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрРФТип">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" type="CCРФТип" use="required">
			<xs:annotation>
				<xs:documentation>Код Региона</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Район" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Город" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаселПункт" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Улица" use="optional">
			<xs:annotation>
				<xs:documentation>Улица (проспект, переулок и т.д.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Номер дома (владения)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Номер корпуса (строения)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Номер квартиры</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвПред">
		<xs:annotation>
			<xs:documentation>Сведения о представителе налогоплательщика </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="ФИОПред" type="ФИОТип">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество представителя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаимОргПред">
				<xs:annotation>
					<xs:documentation>Полное наименование организации - представителя </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="НаимДокПред" use="required">
			<xs:annotation>
				<xs:documentation>Наименование документа, подтверждающего полномочия представителя </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
			<xs:length value="12"/>
			<xs:pattern value="[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код по Классификатору налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Код налогового органа по Классификатору системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛШТип">
		<xs:annotation>
			<xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
