xsd/NO_IMUR_1_085_00_05_05_01.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by ItsMe (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл  -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
			<xs:documentation/>
			<xs:documentation>part</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Титульный лист</xs:documentation>
						<xs:documentation>Состав и структура документа</xs:documentation>
						<xs:documentation>part</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation/>
									<xs:documentation>Сведения о налогоплательщике</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="НПЮЛ">
											<xs:annotation>
												<xs:documentation/>
												<xs:documentation>Налогоплательщик - организация</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвРеоргЮЛ" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о реорганизованной организации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ФормРеорг" use="required">
																<xs:annotation>
																	<xs:documentation>Код формы реорганизации</xs:documentation>
																	<xs:documentation>Принимает значение:
1 – преобразование   | 
2 – слияние   | 
3 – разделение   | 
5 – присоединение   | 
6 – разделение с одновременным присоединением</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="1"/>
																		<xs:enumeration value="1"/>
																		<xs:enumeration value="2"/>
																		<xs:enumeration value="3"/>
																		<xs:enumeration value="5"/>
																		<xs:enumeration value="6"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
																<xs:annotation>
																	<xs:documentation>ИНН реорганизованной организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="required">
																<xs:annotation>
																	<xs:documentation>КПП реорганизованной организации</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НаимОрг" use="required">
													<xs:annotation>
														<xs:documentation>Наименование организации </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН организации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КПП" type="КППТип" use="required">
													<xs:annotation>
														<xs:documentation>КПП </xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Тлф" use="optional">
										<xs:annotation>
											<xs:documentation>Номер контактного телефона</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Подписант">
								<xs:annotation>
									<!---*********************************************************************************************************************************************************-->
									<xs:appinfo>
										<sch:pattern name="Присутствие сведений о представителе">
											<sch:rule context="Подписант">
												<!-- 2. Контроль  обязательности  присутствия  Сведений  о  представителе  налогоплательщика  в  зависимости  от  значения  ПрПодп  -->
												<sch:assert test="usch:iif(@ПрПодп=2, count(СвПред)!=0, (count(СвПред)!=0 or count(СвПред)=0))">
													<usch:error code="0400300003" path="@ПрПодп" value-of-select="@ПрПодп">
														При значении поля "Признак подписанта" = 2 должны быть заполнены "Сведения о представителе"
													</usch:error>
												</sch:assert>
											</sch:rule>
										</sch:pattern>
									</xs:appinfo>
									<!---*********************************************************************************************************************************************************-->
									<xs:documentation/>
									<xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="ФИОТип">
											<xs:annotation>
												<xs:documentation/>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвПред" minOccurs="0">
											<xs:annotation>
												<xs:documentation/>
												<xs:documentation>Сведения о представителе налогоплательщика</xs:documentation>
												<xs:documentation><![CDATA[Элемент обязателен при <ПрПодп>=2]]></xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="НаимДок" use="required">
													<xs:annotation>
														<xs:documentation>Наименование и реквизиты документа, подтверждающего полномочия представителя налогоплательщика</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="120"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимОрг" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование организации - представителя налогоплательщика </xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПрПодп" use="required">
										<xs:annotation>
											<xs:documentation>Признак лица, подписавшего документ</xs:documentation>
											<xs:documentation>Принимает значение:
1 – налогоплательщик   |
2 – представитель налогоплательщика</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ИмущАв">
								<xs:annotation>
									<xs:documentation/>
									<xs:documentation>Налоговый расчет по авансовому платежу по налогу на имущество организаций</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СумНалПУ" maxOccurs="unbounded">
											<xs:annotation>
												<!---************************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Обязательность присутствия РасОбДеятРФ или РасОБНедИО">
														<sch:rule context="СумНалПУ">
															<!-- 3. Контроль  обязательности  присутствия  хотя бы одного из элементов  РасОбДеятРФ или РасОБНедИО-->
															<sch:assert test="( count(РасОБНедИО)=0 and count(РасОбДеятРФ)!=0 ) or ( count(РасОБНедИО)!=0 and count(РасОбДеятРФ)=0 ) or ( count(РасОБНедИО)!=0 and count(РасОбДеятРФ)!=0 )">
																<usch:error code="0400300000" path="РасОБНедИО|РасОбДеятРФ" value-of-select="count(РасОбДеятРФ)">
																	Должен присутствовать один из разделов: "Раздел 2" или "Раздел 3"
																</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---************************************************************************************************************************************************-->
												<xs:documentation>Раздел 1</xs:documentation>
												<xs:documentation>Сумма авансового платежа по налогу, подлежащая уплате в бюджет, по данным налогоплательщика</xs:documentation>
												<xs:documentation>part</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="РасОбДеятРФ" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Исчисление суммы авансового платежа по налогу в отношении подлежащего налогообложению недвижимого имущества российских организаций и иностранных организаций, осуществляющих деятельность в Российской Федерации через постоянные представительства</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="РасОб" maxOccurs="unbounded">
																	<xs:annotation>
																		<!---************************************************************************************************************************-->
																		<!--xs:appinfo>
																			<sch:pattern name="Присутствие Доли балансовой стоимости объекта">
																				<sch:rule context="РасОб"-->
																		<!-- Контроль  обязательности  присутствия  элемента Доля балансовой стоимости объекта в  зависимости  от  значения  ВидИмущ  -->
																		<!--sch:assert test="usch:iif(@ВидИмущ=2, count(ДанРас/@ДолСт)!=0, (count(ДанРас/@ДолСт)!=0 or count(ДанРас/@ДолСт)=0))">
																						<usch:error code="0400300003" path="@ВидИмущ" value-of-select="@ВидИмущ">Не выполнено условие присутствия элемента Файл/Документ/ИмущНД/СумНалПУ/РасОбДеятРФ/РасОб/ДанРас/ДолСт при значении элемента ВидИмущ, равном "<usch:value-of select="@ВидИмущ"/>".</usch:error>
																					</sch:assert>
																				</sch:rule>
																			</sch:pattern>
																		</xs:appinfo-->
																		<!---************************************************************************************************************************-->
																		<xs:documentation>Раздел 2</xs:documentation>
																		<xs:documentation>Расчет по объекту имущества</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ДанРасСтПер">
																				<xs:annotation>
																					<xs:documentation/>
																					<xs:documentation>Данные для расчета средней стоимости недвижимого имущества за отчетный период</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ОстСтом0101" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 020</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.01</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0102" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 030</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.02</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0103" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 040</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.03</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0104" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 050</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.04</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0105" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 060</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.05</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0106" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 070</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.06</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0107" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 080</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.07</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0108" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 090</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.08</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0109" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 100</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.09</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="ОстСтом0110" type="ОстСтоимМес">
																							<xs:annotation>
																								<xs:documentation>строка 110</xs:documentation>
																								<xs:documentation>Остаточная стоимость основных средств на 01.10</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="РасчАванПл">
																				<xs:annotation>
																					<xs:documentation/>
																					<xs:documentation>Расчет суммы авансового платежа по налогу</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:attribute name="СтИмущ" use="required">
																						<xs:annotation>
																							<xs:documentation>строка 120</xs:documentation>
																							<xs:documentation>Средняя стоимость недвижимого имущества за отчетный период</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:totalDigits value="15"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="КодНалЛьг" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 130</xs:documentation>
																							<xs:documentation>Код налоговой льготы</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:minLength value="7"/>
																								<xs:maxLength value="20"/>
																								<xs:pattern value="([0-9]{7})|(2012000/(............))"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="СтИмущНеобл" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 140</xs:documentation>
																							<xs:documentation>Средняя стоимость необлагаемого налогом недвижимого имущества за  отчетный период</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:totalDigits value="15"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="ДолСт" type="ПростДроб21" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 150</xs:documentation>
																							<xs:documentation>Доля балансовой стоимости объекта недвижимого имущества на территории соответствующего субъекта Российской Федерации </xs:documentation>
																						</xs:annotation>
																					</xs:attribute>
																					<xs:attribute name="КодЛгПНС" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 160</xs:documentation>
																							<xs:documentation>Код налоговой льготы (установленной  в виде понижения налоговой ставки)</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="20"/>
																								<xs:pattern value="2012400/(............)"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="НалСтав" use="required">
																						<xs:annotation>
																							<xs:documentation>строка 170</xs:documentation>
																							<xs:documentation>Налоговая ставка (%)</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:totalDigits value="3"/>
																								<xs:fractionDigits value="2"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="Кжд" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 175</xs:documentation>
																							<xs:documentation>Кжд</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:decimal">
																								<xs:totalDigits value="2"/>
																								<xs:fractionDigits value="1"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="СумАвИсчисл" use="required">
																						<xs:annotation>
																							<xs:documentation>строка 180</xs:documentation>
																							<xs:documentation>Сумма авансового платежа</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:totalDigits value="15"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="КодЛгУмен" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 190</xs:documentation>
																							<xs:documentation>Код налоговой льготы (в виде уменьшения суммы налога, подлежащей уплате в бюджет)</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="20"/>
																								<xs:pattern value="2012500/(............)"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																					<xs:attribute name="СумЛгУмен" use="optional">
																						<xs:annotation>
																							<xs:documentation>строка 200</xs:documentation>
																							<xs:documentation>Сумма налоговой льготы  по авансовому платежу, уменьшающей сумму авансового платежа по налогу, подлежащую уплате в бюджет</xs:documentation>
																						</xs:annotation>
																						<xs:simpleType>
																							<xs:restriction base="xs:integer">
																								<xs:totalDigits value="15"/>
																							</xs:restriction>
																						</xs:simpleType>
																					</xs:attribute>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="ВидИмущ" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 001</xs:documentation>
																				<xs:documentation>Код вида имущества</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="2"/>
																					<xs:enumeration value="01"/>
																					<xs:enumeration value="02"/>
																					<xs:enumeration value="03"/>
																					<xs:enumeration value="05"/>
																					<xs:enumeration value="08"/>
																					<xs:enumeration value="09"/>
																					<xs:enumeration value="10"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ОбъектОблНал" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Информация об объекте недвижимого имущества, облагаемом налогом по среднегодовой стоимости</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ИнфОбъект" maxOccurs="unbounded">
																	<xs:annotation>
																		<!---************************************************************************************************************************-->
																		<!--xs:appinfo>
																			<sch:pattern name="Присутствие Доли балансовой стоимости объекта">
																				<sch:rule context="РасОб"-->
																		<!-- Контроль  обязательности  присутствия  элемента Доля балансовой стоимости объекта в  зависимости  от  значения  ВидИмущ  -->
																		<!--sch:assert test="usch:iif(@ВидИмущ=2, count(ДанРас/@ДолСт)!=0, (count(ДанРас/@ДолСт)!=0 or count(ДанРас/@ДолСт)=0))">
																						<usch:error code="0400300003" path="@ВидИмущ" value-of-select="@ВидИмущ">Не выполнено условие присутствия элемента Файл/Документ/ИмущНД/СумНалПУ/РасОбДеятРФ/РасОб/ДанРас/ДолСт при значении элемента ВидИмущ, равном "<usch:value-of select="@ВидИмущ"/>".</usch:error>
																					</sch:assert>
																				</sch:rule>
																			</sch:pattern>
																		</xs:appinfo-->
																		<!---************************************************************************************************************************-->
																		<!---************************************************************************************************************************-->
																		<xs:appinfo>
																			<sch:pattern name="Присутствие элемента АдрОбъектРФ в зависимости от значения элемента КодНомОбъект">
																				<sch:rule context="ИнфОбъект">
																					<!-- 4. Контроль обязательности присутствия элемента АдрОбъект в зависимости от значения элемента КодНомОбъект  -->
																					<sch:assert test="usch:iif(@КодНомОбъект=3, count(АдрОбъектРФ)!=0, count(АдрОбъектРФ)=0)">
																						<usch:error code="0400300003" path="@КодНомОбъект" value-of-select="@КодНомОбъект">
																							Должно выполняться одно из двух условий: <br/>
																							1. Если "строка 010" = "3", то адрес объекта (строка 030) должен быть заполнен <br/>
																							2. Если "строка 010" не равна "3", то адрес объекта (строка 030) не должен быть заполнен
																						</usch:error>
																					</sch:assert>
																				</sch:rule>
																			</sch:pattern>
																		</xs:appinfo>
																		<!---************************************************************************************************************************-->
																		<xs:documentation>Раздел 2.1</xs:documentation>
																		<xs:documentation>Информация об объекте недвижимого имущества</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="АдрОбъектРФ" type="АдрФИАСТип" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation/>
																					<xs:documentation>Адрес объекта недвижимого имущества, расположенного на территории Российской Федерации</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="КодНомОбъект" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 010</xs:documentation>
																				<xs:documentation>Код номера объекта</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="1"/>
																					<xs:enumeration value="1"/>
																					<xs:enumeration value="2"/>
																					<xs:enumeration value="3"/>
																					<xs:enumeration value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НомОбъект" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 020</xs:documentation>
																				<xs:documentation>Номер объекта</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="100"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ОКОФ" type="ОКОФТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 040</xs:documentation>
																				<xs:documentation>Код ОКОФ</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="СтОстВс" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 050</xs:documentation>
																				<xs:documentation>Остаточная стоимость основных средств на 01.04, 01.07, 01.10</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="РасОБНедИО" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Исчисление суммы авансового платежа по налогу за отчетный период по объекту недвижимого имущества, налоговая база в отношении которого определяется как кадастровая стоимость</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="РасОб" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Раздел 3</xs:documentation>
																		<xs:documentation>Расчет по объекту имущества</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ВидИмущ" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 001</xs:documentation>
																				<xs:documentation>Код вида имущества</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="2"/>
																					<xs:enumeration value="11"/>
																					<xs:enumeration value="12"/>
																					<xs:enumeration value="13"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ВидСвед" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 014</xs:documentation>
																				<xs:documentation>Код вида сведений</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="1"/>
																					<xs:enumeration value="1"/>
																					<xs:enumeration value="2"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НомКад" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 015</xs:documentation>
																				<xs:documentation>Кадастровый номер</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="1"/>
																					<xs:maxLength value="100"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СтКадастр" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 020</xs:documentation>
																				<xs:documentation>Кадастровая стоимость</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СтКадастрНеобл" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 025</xs:documentation>
																				<xs:documentation>Необлагаемая налогом кадастровая стоимость</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ДоляПравСоб" type="ПростДроб21" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 030</xs:documentation>
																				<xs:documentation>Доля в праве общей собственности</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="Доля_6.378.2" type="ПростДроб29" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 035</xs:documentation>
																				<xs:documentation>Доля кадастровой стоимости здания</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="КодНалЛьг" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 040</xs:documentation>
																				<xs:documentation>Код налоговой льготы</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:minLength value="7"/>
																					<xs:maxLength value="20"/>
																					<xs:pattern value="([0-9]{7})|(2012000/(............))"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ДолСт" type="ПростДроб21" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 050</xs:documentation>
																				<xs:documentation>Доля кадастровой стоимости объекта недвижимого имущества на территории субъекта Российской Федерации</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="КодЛгПНС" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 060</xs:documentation>
																				<xs:documentation>Код налоговой льготы (установленной  в виде понижения налоговой ставки)</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="20"/>
																					<xs:pattern value="2012400/(............)"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="НалСтав" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 070</xs:documentation>
																				<xs:documentation>Налоговая ставка (%)</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="3"/>
																					<xs:fractionDigits value="2"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="КоэфКв" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 080</xs:documentation>
																				<xs:documentation>Коэффициент Кв </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="5"/>
																					<xs:fractionDigits value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="КоэфКи" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 085</xs:documentation>
																				<xs:documentation>Коэффициент Ки </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="5"/>
																					<xs:fractionDigits value="4"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумАвИсчисл" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 090</xs:documentation>
																				<xs:documentation>Сумма авансового платежа по налогу</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="КодЛгУмен" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 100</xs:documentation>
																				<xs:documentation>Код налоговой льготы (в виде уменьшения суммы налога, подлежащей уплате в бюджет)</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="20"/>
																					<xs:pattern value="2012500/(............)"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="СумЛгУмен" use="optional">
																			<xs:annotation>
																				<xs:documentation>строка 110</xs:documentation>
																				<xs:documentation>Сумма налоговой льготы  по авансовому платежу, уменьшающей сумму авансового платежа по налогу, подлежащую уплате в бюджет</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:totalDigits value="15"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ОКТМО" type="ОКТМОТип" use="required">
													<xs:annotation>
														<xs:documentation>Код по ОКТМО</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КБК" type="КБКТип" use="required">
													<xs:annotation>
														<xs:documentation>Код бюджетной классификации</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НалПУ" use="required">
													<xs:annotation>
														<xs:documentation>Сумма авансового платежа по налогу, подлежащая уплате в бюджет</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы отчетности по КНД</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1152028"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Период" use="required">
							<xs:annotation>
								<xs:documentation>Период (код)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:enumeration value="21"/>
									<xs:enumeration value="17"/>
									<xs:enumeration value="18"/>
									<xs:enumeration value="51"/>
									<xs:enumeration value="47"/>
									<xs:enumeration value="48"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
							<xs:annotation>
								<xs:documentation>Отчетный год</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодНО" type="СОНОТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПоМесту" use="required">
							<xs:annotation>
								<xs:documentation>Код места нахождения (учета), по которому представляется документ</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:enumeration value="213"/>
									<xs:enumeration value="214"/>
									<xs:enumeration value="215"/>
									<xs:enumeration value="216"/>
									<xs:enumeration value="245"/>
									<xs:enumeration value="281"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.05"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ОстСтоимМес">
		<xs:annotation>
			<xs:documentation>Остаточная стоимость основных средств помесячно</xs:documentation>
		</xs:annotation>
		<xs:attribute name="СтОстОН" use="optional">
			<xs:annotation>
				<xs:documentation>Остаточная стоимость основных средств, признаваемых объектом налогообложения</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СтЛьгИмущ" use="optional">
			<xs:annotation>
				<xs:documentation>Стоимость льготируемого недвижимого имущества </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="15"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКТМОТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора территорий муниципальных образований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]{8}"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КБКТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора бюджетной классификации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКОФТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора основных фондов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
			<xs:minLength value="5"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{3}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНЛТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговых льгот</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ПростДроб3">
		<xs:annotation>
			<xs:documentation>Простая дробь в формате: (1 знак)/(1 знак), где ноль в знаменателе недопустим</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="([0-9]{1})/([1-9]{1})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ПростДроб21">
		<xs:annotation>
			<xs:documentation>Простая дробь в формате: (от 1 до 10 знаков)/(от 1 до 10 знаков), где ведущие нули в числителе и знаменателе недопустимы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="21"/>
			<xs:pattern value="([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9})/([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ПростДроб29">
		<xs:annotation>
			<xs:documentation>Простая дробь в формате: (от 1 до 14 знаков)/(от 1 до 14 знаков), где ведущие нули в числителе и знаменателе недопустимы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="29"/>
			<xs:pattern value="([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9}|[1-9]{1}[0-9]{0,10}|[1-9]{1}[0-9]{0,11}|[1-9]{1}[0-9]{0,12}|[1-9]{1}[0-9]{0,13})/([1-9]{1}|[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}|[1-9]{1}[0-9]{0,3}|[1-9]{1}[0-9]{0,4}|[1-9]{1}[0-9]{0,5}|[1-9]{1}[0-9]{0,6}|[1-9]{1}[0-9]{0,7}|[1-9]{1}[0-9]{0,8}|[1-9]{1}[0-9]{0,9}|[1-9]{1}[0-9]{0,10}|[1-9]{1}[0-9]{0,11}|[1-9]{1}[0-9]{0,12}|[1-9]{1}[0-9]{0,13})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="АдрФИАСТип">
		<xs:annotation>
			<xs:documentation>Адрес по ФИАС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион" type="CCРФТип">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации (код)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МуниципРайон" type="ВидНаимКодТип">
				<xs:annotation>
					<xs:documentation>Муниципальный район/ городской округ/ внутригородская территория города федерального значения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГородСелПоселен" type="ВидНаимКодТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городское поселение / сельское поселение / межселенная территория в составе муниципального района / внутригородской район городского округа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселенПункт" type="ВидНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (город, деревня, село и прочее)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлПланСтруктур" type="ТипНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент планировочной структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлУлДорСети" type="ТипНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент улично-дорожной сети</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЗемелУчасток" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Земельный участок (номер)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Здание" type="НомерТип" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Здание / сооружение / объект незавершенного строительства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещЗдания" type="НомерТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах здания, сооружения / машино-место</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещКвартиры" type="НомерТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах квартиры</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ИдНом" use="optional">
			<xs:annotation>
				<xs:documentation>Уникальный идентификационный номер</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимКодТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде (код) и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ВидКод" use="required">
			<xs:annotation>
				<xs:documentation>Вид (код) элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Вид" use="required">
			<xs:annotation>
				<xs:documentation>Вид элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ТипНаимТип">
		<xs:annotation>
			<xs:documentation>Сведения о типе и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НомерТип">
		<xs:annotation>
			<xs:documentation>Сведения о номере адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Номер" use="required">
			<xs:annotation>
				<xs:documentation>Номер элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-4A-Z]{1}[0-9A-Z]{1}|5[1-9A-Z]{1}|[6-9A-Z]{1}[0-9A-Z]{1})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
