xsd/NO_NDS.9_1_003_03_05_06_01.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by ItsMe (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!---**************************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--  1. Проверка имени файла на соответствие ИдФайл                                                                             -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">Имя файла обмена "<usch:value-of select="usch:getFileName()"/>" не совпадает со значением элемента ИдФайл "<usch:value-of select="@ИдФайл"/>"</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---**************************************************************************************************************************************************************************-->
			<xs:documentation>Файл обмена</xs:documentation>
			<xs:documentation/>
			<xs:documentation>part</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<!---*********************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Присутствие признака актуальности сведений">
								<sch:rule context="Документ">
									<!-- 2. Контроль  обязательности  присутствия  ПризнСвед9  в  зависимости  от  значения  НомКорр  -->
									<sch:assert test="usch:iif(@НомКорр=0, count(@ПризнСвед9)=0, count(@ПризнСвед9)!=0)">
										<usch:error code="0400300003" path="@ПризнСвед9" value-of-select="@НомКорр">
											Если "Номер корректировки" = 0, то строка 001 должна быть пустой. В противном случае строка 001 должна быть заполнена
											</usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*********************************************************************************************************************************************************-->
						<!---*********************************************************************************************************************************************************-->
						<xs:appinfo>
							<sch:pattern name="Присутствие КнигаПрод в  зависимости  от  значения ПризнСвед9">
								<sch:rule context="Документ">
									<!-- 3. Контроль  обязательности  присутствия  КнигаПрод в  зависимости  от  значения ПризнСвед9  -->
									<sch:assert test="(count(@ПризнСвед9)!=0 and @ПризнСвед9=0 and count(КнигаПрод)!=0) or (count(@ПризнСвед9)!=0 and @ПризнСвед9=1 and count(КнигаПрод)=0) or (count(@ПризнСвед9)=0 and (count(КнигаПрод)=0 or count(КнигаПрод)!=0))">
										<usch:error code="0400300003" path="КнигаПрод" value-of-select="count(КнигаПрод)">
											Должно выполняться одно из следующих условий: <br/>
											1. "Строка 001" = "0" и Лист 3 присутствует <br/>
											2. "Строка 001" = "1" и Лист 3 отсутствует <br/>
											3. "Строка 001" не заполнена <br/>
										</usch:error>
									</sch:assert>
								</sch:rule>
							</sch:pattern>
						</xs:appinfo>
						<!---*********************************************************************************************************************************************************-->
						<xs:documentation>Титульный лист</xs:documentation>
						<xs:documentation>Состав и структура документа</xs:documentation>
						<xs:documentation>part</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="КнигаПрод" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Лист 03</xs:documentation>
									<xs:documentation>Сведения из книги продаж об операциях, отражаемых за истекший налоговый период</xs:documentation>
									<xs:documentation>part</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="КнПродСтр" maxOccurs="unbounded">
											<xs:annotation>
												<!---**********************************************************************************************************************************************-->
												<xs:appinfo>
													<sch:pattern name="Присутствие сведений о представителе">
														<sch:rule context="КнПродСтр">
															<!-- 4. Контроль  обязательности  присутствия  НомИспрСчФ в  зависимости  от наличия  ДатаИспрСчФ  -->
															<sch:assert test="usch:iif(count(@ДатаИспрСчФ)!=0, count(@НомИспрСчФ)!=0, (count(@НомИспрСчФ)!=0 or count(@НомИспрСчФ)=0))">
																<usch:error code="0400300001" path="@НомИспрСчФ" value-of-select="count(@НомИспрСчФ)">
																	Если заполнена строка 050, то должна быть заполнена строка 040
																</usch:error>
															</sch:assert>
															<!-- 5. Контроль  обязательности  присутствия  ДатаИспрСчФ в  зависимости  от наличия  НомИспрСчФ  -->
															<sch:assert test="usch:iif(count(@НомИспрСчФ)!=0, count(@ДатаИспрСчФ)!=0, (count(@ДатаИспрСчФ)!=0 or count(@ДатаИспрСчФ)=0))">
																<usch:error code="0400300001" path="@ДатаИспрСчФ" value-of-select="count(@ДатаИспрСчФ)">
																	Если заполнена строка 040, то должна быть заполнена строка 050
																</usch:error>
															</sch:assert>
															<!-- 6. Контроль  обязательности  присутствия  НомКСчФПрод в  зависимости  от наличия  ДатаКСчФПрод или НомИспрКСчФ или ДатаИспрКСчФ -->
															<sch:assert test="usch:iif( count(@ДатаКСчФПрод)!=0 or count(@НомИспрКСчФ)!=0 or count(@ДатаИспрКСчФ)!=0 , count(@НомКСчФПрод)!=0, (count(@НомКСчФПрод)!=0 or count(@НомКСчФПрод)=0))">
																<usch:error code="0400300001" path="@НомКСчФПрод" value-of-select="count(@НомКСчФПрод)">
																	Если заполнена хотя бы одна из строк 070 или 080 или 090, то должна быть заполнена строка 060
																</usch:error>
															</sch:assert>
															<!-- 7. Контроль  обязательности  присутствия  ДатаКСчФПрод в  зависимости  от наличия  НомКСчФПрод или НомИспрКСчФ или ДатаИспрКСчФ -->
															<sch:assert test="usch:iif(count(@НомКСчФПрод)!=0 or count(@НомИспрКСчФ)!=0 or count(@ДатаИспрКСчФ)!=0 , count(@ДатаКСчФПрод)!=0, (count(@ДатаКСчФПрод)!=0 or count(@ДатаКСчФПрод)=0))">
																<usch:error code="0400300001" path="@ДатаКСчФПрод" value-of-select="count(@ДатаКСчФПрод)">
																	Если заполнена хотя бы одна из строк 060 или 080 или 090, то должна быть заполнена строка 070
																</usch:error>
															</sch:assert>
															<!-- 8. Контроль  обязательности  присутствия  НомИспрКСчФ в  зависимости  от наличия  ДатаИспрКСчФ  -->
															<sch:assert test="usch:iif(count(@ДатаИспрКСчФ)!=0, count(@НомИспрКСчФ)!=0, (count(@НомИспрКСчФ)!=0 or count(@НомИспрКСчФ)=0))">
																<usch:error code="0400300001" path="@НомИспрКСчФ" value-of-select="count(@НомИспрКСчФ)">
																	Если заполнена строка 090, то должна быть заполнена строка 080
																</usch:error>
															</sch:assert>
															<!-- 9. Контроль  обязательности  присутствия  ДатаИспрКСчФ в  зависимости  от наличия  НомИспрКСчФ  -->
															<sch:assert test="usch:iif(count(@НомИспрКСчФ)!=0, count(@ДатаИспрКСчФ)!=0, (count(@ДатаИспрКСчФ)!=0 or count(@ДатаИспрКСчФ)=0))">
																<usch:error code="0400300001" path="@ДатаИспрКСчФ" value-of-select="count(@ДатаИспрКСчФ)">
																	Если заполнена строка 080, то должна быть заполнена строка 090
																</usch:error>
															</sch:assert>
															<!-- 10. Контроль  обязательности  присутствия  СтоимПродСФВ в  зависимости  от наличия и значения  ОКВ -->
															<sch:assert test="usch:iif(count(@ОКВ)!=0 and @ОКВ!=643 , count(@СтоимПродСФВ)!=0, (count(@СтоимПродСФВ)!=0 or count(@СтоимПродСФВ)=0))">
																<usch:error code="0400300001" path="@СтоимПродСФВ" value-of-select="count(@ОКВ)">
																	Если строка 140 заполнена и не равна 643, то строка 150 должна быть заполнена
																</usch:error>
															</sch:assert>
															<!-- 11. Контроль  обязательности  присутствия  СтоимПродСФ в  зависимости  от наличия  СтоимПродОсв  -->
															<sch:assert test="usch:iif(count(@СтоимПродОсв)=0, count(@СтоимПродСФ)!=0, (count(@СтоимПродСФ)!=0 or count(@СтоимПродСФ)=0))">
																<usch:error code="0400300001" path="@СтоимПродСФ" value-of-select="count(@СтоимПродОсв)">
																	Если строка 220 не заполнена, то строка 160 должна быть заполнена
																</usch:error>
															</sch:assert>
															<!-- 12. Контроль  обязательности  присутствия  СтоимПродОсв в  зависимости  от наличия  СтоимПродСФ  -->
															<sch:assert test="usch:iif(count(@СтоимПродСФ)=0, count(@СтоимПродОсв)!=0, (count(@СтоимПродОсв)!=0 or count(@СтоимПродОсв)=0))">
																<usch:error code="0400300001" path="@СтоимПродОсв" value-of-select="count(@СтоимПродСФ)">
																	Если строка 160 не заполнена, то строка 220 должна быть заполнена
																</usch:error>
															</sch:assert>
															<!-- 13. Контроль  обязательности  присутствия  СумНДССФ20 в  зависимости  от наличия  СтоимПродСФ20  -->
															<sch:assert test="usch:iif(count(@СтоимПродСФ20)!=0, count(@СумНДССФ20)!=0, (count(@СумНДССФ20)!=0 or count(@СумНДССФ20)=0))">
																<usch:error code="0400300001" path="@СумНДССФ20" value-of-select="count(@СтоимПродСФ20)">
																	Если строка 170 заполнена, то строка 200 должна быть заполнена
																</usch:error>
															</sch:assert>
															<!-- 14. Контроль  обязательности  присутствия  СумНДССФ18 в  зависимости  от наличия  СтоимПродСФ18  -->
															<sch:assert test="usch:iif(count(@СтоимПродСФ18)!=0, count(@СумНДССФ18)!=0, (count(@СумНДССФ18)!=0 or count(@СумНДССФ18)=0))">
																<usch:error code="0400300001" path="@СумНДССФ18" value-of-select="count(@СтоимПродСФ18)">
																	Если строка 175 заполнена, то строка 205 должна быть заполнена
																</usch:error>
															</sch:assert>
															<!-- 15. Контроль  обязательности  присутствия  СумНДССФ10 в  зависимости  от наличия  СтоимПродСФ10  -->
															<sch:assert test="usch:iif(count(@СтоимПродСФ10)!=0, count(@СумНДССФ10)!=0, (count(@СумНДССФ10)!=0 or count(@СумНДССФ10)=0))">
																<usch:error code="0400300001" path="@СумНДССФ10" value-of-select="count(@СтоимПродСФ10)">
																	Если строка 180 заполнена, то строка 210 должна быть заполнена
																</usch:error>
															</sch:assert>
														</sch:rule>
													</sch:pattern>
												</xs:appinfo>
												<!---**********************************************************************************************************************************************-->
												<xs:documentation>Лист 02</xs:documentation>
												<xs:documentation>Сведения по строке из книги продаж об операциях, отражаемых за истекший налоговый период</xs:documentation>
												<xs:documentation>part</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="КодВидОпер" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>строка 010</xs:documentation>
															<xs:documentation>Код вида операции</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
																<xs:enumeration value="01"/>
																<xs:enumeration value="02"/>
																<xs:enumeration value="06"/>
																<xs:enumeration value="10"/>
																<xs:enumeration value="13"/>
																<xs:enumeration value="14"/>
																<xs:enumeration value="15"/>
																<xs:enumeration value="18"/>
																<xs:enumeration value="21"/>
																<xs:enumeration value="26"/>
																<xs:enumeration value="27"/>
																<xs:enumeration value="28"/>
																<xs:enumeration value="29"/>
																<xs:enumeration value="30"/>
																<xs:enumeration value="31"/>
																<xs:enumeration value="33"/>
																<xs:enumeration value="34"/>
																<xs:enumeration value="35"/>
																<xs:enumeration value="37"/>
																<xs:enumeration value="38"/>
																<xs:enumeration value="39"/>
																<xs:enumeration value="40"/>
																<xs:enumeration value="41"/>
																<xs:enumeration value="42"/>
																<xs:enumeration value="43"/>
																<xs:enumeration value="44"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="РегНомТД" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>строка 035</xs:documentation>
															<xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="13"/>
																<xs:maxLength value="27"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="КодВидТовар" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>строка 036</xs:documentation>
															<xs:documentation>Код вида товара</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="4"/>
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ДокПдтвОпл" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о документе, подтверждающем оплату</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НомДокПдтвОпл" use="required">
																<xs:annotation>
																	<xs:documentation>строка 120</xs:documentation>
																	<xs:documentation>Номер документа, подтверждающего оплату</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="256"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаДокПдтвОпл" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>строка 130</xs:documentation>
																	<xs:documentation>Дата документа, подтверждающего оплату</xs:documentation>
																	<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвПокуп" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о покупателе</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:annotation>
																<xs:documentation>Сведения об участнике сделки</xs:documentation>
															</xs:annotation>
															<xs:choice>
																<xs:element name="СведЮЛ">
																	<xs:annotation>
																		<xs:documentation/>
																		<xs:documentation>Сведения об организации</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 100</xs:documentation>
																				<xs:documentation>ИНН организации</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="КПП" type="КППТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 100</xs:documentation>
																				<xs:documentation>КПП</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="СведИП">
																	<xs:annotation>
																		<xs:documentation/>
																		<xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 100</xs:documentation>
																				<xs:documentation>ИНН физического лица</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвПос" minOccurs="0">
														<xs:annotation>
															<xs:documentation/>
															<xs:documentation>Сведения о посреднике (комиссионере, агенте)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:annotation>
																<xs:documentation>Сведения об участнике сделки</xs:documentation>
															</xs:annotation>
															<xs:choice>
																<xs:element name="СведЮЛ">
																	<xs:annotation>
																		<xs:documentation/>
																		<xs:documentation>Сведения об организации</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 110</xs:documentation>
																				<xs:documentation>ИНН организации</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="КПП" type="КППТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 110</xs:documentation>
																				<xs:documentation>КПП</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
																<xs:element name="СведИП">
																	<xs:annotation>
																		<xs:documentation/>
																		<xs:documentation>Сведения об индивидуальном предпринимателе</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
																			<xs:annotation>
																				<xs:documentation>строка 110</xs:documentation>
																				<xs:documentation>ИНН физического лица</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НомерПор" use="required">
													<xs:annotation>
														<xs:documentation>строка 005</xs:documentation>
														<xs:documentation>Порядковый номер</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="12"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомСчФПрод" use="required">
													<xs:annotation>
														<xs:documentation>строка 020</xs:documentation>
														<xs:documentation>Номер счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1000"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаСчФПрод" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>строка 030</xs:documentation>
														<xs:documentation>Дата счета-фактуры продавца</xs:documentation>
														<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НомИспрСчФ" use="optional">
													<xs:annotation>
														<xs:documentation>строка 040</xs:documentation>
														<xs:documentation>Номер исправления счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="3"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаИспрСчФ" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>строка 050</xs:documentation>
														<xs:documentation>Дата исправления счета-фактуры продавца</xs:documentation>
														<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НомКСчФПрод" use="optional">
													<xs:annotation>
														<xs:documentation>строка 060</xs:documentation>
														<xs:documentation>Номер корректировочного счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="256"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаКСчФПрод" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>строка 070</xs:documentation>
														<xs:documentation>Дата корректировочного счета-фактуры продавца</xs:documentation>
														<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НомИспрКСчФ" use="optional">
													<xs:annotation>
														<xs:documentation>строка 080</xs:documentation>
														<xs:documentation>Номер исправления корректировочного счета-фактуры продавца</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="3"/>
															<xs:minInclusive value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаИспрКСчФ" type="ДатаТип" use="optional">
													<xs:annotation>
														<xs:documentation>строка 090</xs:documentation>
														<xs:documentation>Дата исправления корректировочного счета-фактуры продавца</xs:documentation>
														<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ОКВ" type="ОКВТип" use="optional">
													<xs:annotation>
														<xs:documentation>строка 140</xs:documentation>
														<xs:documentation>Код валюты по ОКВ</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФВ" use="optional">
													<xs:annotation>
														<xs:documentation>строка 150</xs:documentation>
														<xs:documentation>Стоимость продаж по счету-фактуре, разница стоимости по корректировочному счету-фактуре (включая налог), в валюте счета-фактуры</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФ" use="optional">
													<xs:annotation>
														<xs:documentation>строка 160</xs:documentation>
														<xs:documentation>Стоимость продаж по счету-фактуре, разница стоимости по корректировочному счету-фактуре (включая налог) в рублях и копейках</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФ20" use="optional">
													<xs:annotation>
														<xs:documentation>строка 170</xs:documentation>
														<xs:documentation>Стоимость продаж, облагаемых налогом, по счету-фактуре, разница стоимости по корректировочному счету-фактуре (без налога) в рублях и копейках, по ставке 20%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФ18" use="optional">
													<xs:annotation>
														<xs:documentation>строка 175</xs:documentation>
														<xs:documentation>Стоимость продаж, облагаемых налогом, по счету-фактуре, разница стоимости по корректировочному счету-фактуре (без налога) в рублях и копейках, по ставке 18%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФ10" use="optional">
													<xs:annotation>
														<xs:documentation>строка 180</xs:documentation>
														<xs:documentation>Стоимость продаж, облагаемых налогом, по счету-фактуре, разница стоимости по корректировочному счету-фактуре (без налога) в рублях и копейках, по ставке 10%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродСФ0" use="optional">
													<xs:annotation>
														<xs:documentation>строка 190</xs:documentation>
														<xs:documentation>Стоимость продаж, облагаемых налогом, по счету-фактуре, разница стоимости по корректировочному счету-фактуре (без налога) в рублях и копейках, по ставке 0%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНДССФ20" use="optional">
													<xs:annotation>
														<xs:documentation>строка 200</xs:documentation>
														<xs:documentation>Сумма налога по счету-фактуре, разница суммы налога по корректировочному счету-фактуре в рублях и копейках, по ставке 20%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНДССФ18" use="optional">
													<xs:annotation>
														<xs:documentation>строка 205</xs:documentation>
														<xs:documentation>Сумма налога по счету-фактуре, разница суммы налога по корректировочному счету-фактуре в рублях и копейках, по ставке 18%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СумНДССФ10" use="optional">
													<xs:annotation>
														<xs:documentation>строка 210</xs:documentation>
														<xs:documentation>Сумма налога по счету-фактуре, разница суммы налога по корректировочному счету-фактуре в рублях и копейках,  по ставке 10%</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СтоимПродОсв" use="optional">
													<xs:annotation>
														<xs:documentation>строка 220</xs:documentation>
														<xs:documentation>Стоимость продаж, освобождаемых от налога, по счету-фактуре, разница стоимости по корректировочному счету-фактуре в рублях и копейках</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="19"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="СтПродБезНДС20" use="optional">
										<xs:annotation>
											<xs:documentation>строка 230</xs:documentation>
											<xs:documentation>Всего стоимость продаж по книге продаж (без налога) в рублях и копейках, по ставке 20%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СтПродБезНДС18" use="optional">
										<xs:annotation>
											<xs:documentation>строка 235</xs:documentation>
											<xs:documentation>Всего стоимость продаж по книге продаж (без налога) в рублях и копейках, по ставке 18%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СтПродБезНДС10" use="optional">
										<xs:annotation>
											<xs:documentation>строка 240</xs:documentation>
											<xs:documentation>Всего стоимость продаж по книге продаж (без налога) в рублях и копейках, по ставке 10%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СтПродБезНДС0" use="optional">
										<xs:annotation>
											<xs:documentation>строка 250</xs:documentation>
											<xs:documentation>Всего стоимость продаж по книге продаж (без налога) в рублях и копейках, по ставке 0%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СумНДСВсКПр20" use="optional">
										<xs:annotation>
											<xs:documentation>строка 260</xs:documentation>
											<xs:documentation>Всего сумма налога по книге продаж в рублях и копейках, по ставке 20%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СумНДСВсКПр18" use="optional">
										<xs:annotation>
											<xs:documentation>строка 265</xs:documentation>
											<xs:documentation>Всего сумма налога по книге продаж в рублях и копейках, по ставке 18%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СумНДСВсКПр10" use="optional">
										<xs:annotation>
											<xs:documentation>строка 270</xs:documentation>
											<xs:documentation>Всего сумма налога по книге продаж в рублях и копейках, по ставке 10%</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СтПродОсвВсКПр" use="optional">
										<xs:annotation>
											<xs:documentation>строка 280</xs:documentation>
											<xs:documentation>Всего стоимость продаж, освобождаемых от налога, по книге продаж в рублях и копейках</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Индекс" use="required">
							<xs:annotation>
								<xs:documentation>Индекс</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="0000090"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="НомКорр" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ПризнСвед9" use="optional">
							<xs:annotation>
								<xs:documentation>строка 001</xs:documentation>
								<xs:documentation>Признак актуальности ранее представленных сведений (из книги продаж об операциях, отражаемых за истекший налоговый период)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.06"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="((((0[1-9]{1}|1[0-9]{1}|2[0-8]{1})\.(0[1-9]{1}|1[0-2]{1}))|((29|30)\.(01|0[3-9]{1}|1[0-2]{1}))|(31\.(01|03|05|07|08|10|12)))\.((19|20)[0-9]{2}))|(29\.02\.((19|20)(((0|2|4|6|8)(0|4|8))|((1|3|5|7|9)(2|6)))))"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
